$blue: #016AB1;
$aero: #34BCEB;
$cloudBlue: #a6d0f2;
$white: #efefef;

/* Light Theme Variables */
$color-text-light: #333332;
$color-background-light: #FAF4E5;
$color-pink-light: #e5a1aa;
$color-green-light: #7AD0AC;
$color-blue-light: #8395CD;

/* Dark Theme Variables */
$color-text-dark: #FAF4E5;
$color-background-dark: #8395CD;
