@import 'scss/variables.scss';

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__height {
  height: 100vh;
}

/*=============== HEADER Y NAV ===============*/
.light-theme {
  & .cloud,.cloud::after, .cloud::before {
    background: $cloudBlue !important;
  }
}
.dark-theme {
  & .cloud,.cloud::after, .cloud::before {
    background: $blue !important;
  }
}

.nav {
  padding-top: 2rem;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 120px;

  &--img {
    width: 60px;
    height: auto;
  }

  &__mask {
    background-color: var(--color-background);
    border-radius: 50%;
  }

  &__list {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    padding: 0 10px;
    align-items: center;

    &.cloud {
      background: #016AB1;
      border-radius: 100px;
      box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
      height: auto;
      position: relative;
    }
    
    &.cloud::after{
      background: #016AB1;
      content: '';
      position: absolute;
      z-indeX: -1;
    }
    &.cloud::before {
      background: #016AB1;
      content: '';
      position: absolute;
      z-indeX: -1;
    }
    
    &.cloud::after {
      border-radius: 56px;
      height: 95px;
      right: 62px;
      top: -35px;
      width: 96px;
    }
    
    &.cloud::before {
      border-radius: 56px;
      height: 84px;
      left: 34px;
      top: -22px;
      width: 88px;
    }
  }

  &__link {
    color: var(--color-text);
    &:hover {
      color: $white;
    }
  }
}

/* Toggle Bar --------------------------------------------- */
.toggle-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 23px;
  right: 90px;
  z-index: 100000;
}

.sun-wrapper, 
.moon-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
}

.toggle-button {
  cursor: pointer;
  position: relative;
  width: 56px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
  border-radius: 999px;
  margin: 0px 16px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.toggle-circle{
  position: absolute;
  left: 6px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-blue);
  transition: all 0.2s ease-in-out;
}

.toggle-button:hover .toggle-circle{
  transform: scale(0.9);
}

.slide{
  left: 31px;
}
