/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'app/scss/variables';

* {
  margin: 0;
}

html, body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* h1,
section,
p,
span,
svg{
  transition: background-color 0.5s, color 0.5s;
} */

* {
  box-sizing: border-box;
}

:root{
  /* Light Theme Variables */
  --color-text-light: #333332;
  --color-background-light: #F2E6CE;
  --color-blue-83: #8395CD;
  --color-blue-016: #016AB1;
  --color-orange-db5: #DB5326;

  /* Dark Theme Variables */
  --color-text-dark: #FAF4E5;
  --color-background-dark: #8395CD;
}

.light-theme {
  --color-text: var(--color-text-light);
  --color-background: var(--color-background-light);
  --color-white: $white;
  --color-blue: var(--color-blue-83);
  --color-blue-naval: var(--color-blue-016);
  --color-orange: var(--color-orange-db5);
  --color-toggle: red;
}

.dark-theme {
  --color-text: var(--color-text-dark);
  --color-background: var(--color-background-dark);
  --color-white: $white;
  --color-green: var(--color-text-dark);
  --color-blue: var(--color-text-dark);
  --color-blue-naval: var(--color-text-dark);
  --color-orange: var(--color-text-dark);
  --color-toggle: red;
}
